<div class="modal-header">
    <h4 class="modal-title">Add Facet</h4>
</div>

<div class="modal-body">
    <div class="panel panel-default">
        <div  ng-show="step == '1'">
            <div class="panel-heading">
                Select an area
            </div>
            <div select-area on-custom="setArea" selected-area="selectedArea" class="panel-body"></div>

        </div>

        <div ng-show="step == '2'">
            <div class="panel-heading">
                Select Facet
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row padding-bottom-5">
                        <label class="col-sm-4">Choose a facet</label>
                        <div class="col-sm-8 pull-right">
                            <select id='facet' ng-model="facet"
                                    ng-change="resetFacet()" class="form-control pull-right">
                                <option ng-repeat="x in facets" value="{{x.facet}}"
                                        ng-disabled="{{x.separator}}">
                                    {{x.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row padding-bottom-5" ng-show="facet">
                        <div class="col-sm-12">
                            <table class="col-sm-12">
                                <caption>
                                    <div class="row">
                                        <div class="col-sm-6 margin-top-8">
                                            Facet values
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input class="form-control" type="text" ng-model="facetFilter"
                                                       placeholder="Filter (case sensitive)"/>
                                                <div class="input-group-addon btn btn-default"
                                                     ng-click="offset = 0; updateFacet()"><i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </caption>
                                <thead>
                                <tr>
                                    <th class="col-sm-1"></th>
                                    <th class="col-sm-6">Name</th>
                                    <th class="col-sm-5">Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div style="height:200px;overflow-y:auto;">
                                            <table class="table">
                                                <tr ng-repeat="x in facetList">
                                                    <td class="col-sm-1"><input type="checkbox" ng-model="x.selected"
                                                                                ng-change="updateSelection()"></td>
                                                    <td class="col-sm-6 table-text-ellipsis td-vertical-align" title="{{x.label}}">{{x.label}}</td>
                                                    <td class="col-sm-5 td-vertical-align">{{x.count}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button ng-click="previousPage()" class="btn btn-xs btn-default"
                                                    type="button" ng-disabled="offset == 0"><i
                                                    class="glyphicon glyphicon-arrow-left"></i></button>
                                            <div class="btn btn-xs btn-default">Page {{(offset / pageSize) + 1}} of
                                                {{maxPages}}
                                            </div>
                                            <button ng-click="nextPage()" class="btn btn-xs btn-default" type="button"
                                                    ng-disabled="offset + pageSize >= max"><i
                                                    class="glyphicon glyphicon-arrow-right"></i></button>
                                        </div>

                                        <button ng-click="applySelection(); updateSel();" class="btn btn-xs btn-default"
                                        ><i class="glyphicon glyphicon-plus-sign"></i> Add selection
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-10">
                        <label>
                            Selected facet values:
                        </label>
                        <small>
                            <strong>{{sel}}</strong>
                            <strong ng-show="!sel">No facet values selected</strong>
                        </small>
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="clearSelection()" class="btn btn-xs btn-default" title="Clear selection">
                            <i class="glyphicon glyphicon-remove"></i> Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="back()" ng-disabled="step == 1">< Back</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()">Next ></button>
</div>