<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="stepList list-inline text-center">
                    <li ng-repeat="stepName in stepNames" title="{{stepName}}">
                        <input type="radio" name="steps" disabled
                               ng-checked="(step > $index) && ($index + 1 == step)">
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div><span><h5>Step {{step}} of {{stepNames.length}}: Phylogenetic Diversity</h5></span></div>
            <div class="panel panel-default">
                <div class="panel-heading">{{stepNames[step - 1]}}</div>
                <div ng-show="step == '1'">
                    <div select-area on-custom="setArea" selected-area="selectedArea" multi="true"
                         class="panel-body"></div>
                </div>

                <div ng-show="step == '2'">
                    <div select-phylo selected-phylo="selectedPhylo" class="panel-body"></div>
                </div>

                <div ng-show="step == '3'">
                    <div select-species on-custom="setQ" selected-q="selectedQ" class="panel-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="back()" ng-disabled="step == 1">< Back</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()">Next ></button>
</div>